<div class="table-responsive">
    <table id="tblcompetencia" class="table table-hover table-striped text-center">
        <thead>
        <th>
            Competencia
        </th>
        <th>
            Capacidad
        </th>
        <th>
            Organización
        </th>
        <th>
            Secuencia
        </th>
        <th>
            Contenido
        </th>
        <th>
            Herramienta Moodle
        </th>
        <th>
            Tiempo de Duración
        </th>
        </thead>
        <tbody class="small">
        <tr>
            <td colspan="2">
                <img src="http://sgc.test/assets/images/icon-tutor.png">
            </td>
        </tr>
                                    <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 1
                    </td>
                    <td>
                        SESION 1
                    </td>
                    <td class="text-justify">
                        <strong>INICIO</strong><br>
                    IDENTIFICA
                    <td>
                        CONTENIDO
                    </td>
                    <td>
                        HERRAMIENTA
                    </td>
                    <td>
                        2 HORAS
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 1
                    </td>
                    <td>
                        SESION 1
                    </td>
                    <td class="text-justify">
                        <strong>PROCESO</strong><br>
                    ANALIZA
                    <td>
                        CONTENIDO
                    </td>
                    <td>
                        HERRAMIENTA
                    </td>
                    <td>
                        2 HORAS
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 1
                    </td>
                    <td>
                        SESION 1
                    </td>
                    <td class="text-justify">
                        <strong>CIERRE</strong><br>
                    COMPRUEBA
                    <td>
                        CONTENIDO
                    </td>
                    <td>
                        HERRAMIENTA
                    </td>
                    <td>
                        2 HORAS
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 1
                    </td>
                    <td>
                        SESION 2
                    </td>
                    <td class="text-justify">
                        <strong>INICIO</strong><br>
                    IDENTIFICA
                    <td>
                        CONTENIDO
                    </td>
                    <td>
                        HERRAMIENTA
                    </td>
                    <td>
                        3 HORAS
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 1
                    </td>
                    <td>
                        SESION 3
                    </td>
                    <td class="text-justify">
                        <strong></strong><br>
                    
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 2
                    </td>
                    <td>
                        SESION 4
                    </td>
                    <td class="text-justify">
                        <strong></strong><br>
                    
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 2
                    </td>
                    <td>
                        SESION 5
                    </td>
                    <td class="text-justify">
                        <strong></strong><br>
                    
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 2
                    </td>
                    <td>
                        SESION 6
                    </td>
                    <td class="text-justify">
                        <strong></strong><br>
                    
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 3
                    </td>
                    <td>
                        SESION 7
                    </td>
                    <td class="text-justify">
                        <strong></strong><br>
                    
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 1
                    </td>
                    <td>
                        CAPACIDAD 4
                    </td>
                    <td>
                        SESION 8
                    </td>
                    <td class="text-justify">
                        <strong>INICIO</strong><br>
                    32
                    <td>
                        32
                    </td>
                    <td>
                        23
                    </td>
                    <td>
                        21 HORAS
                    </td>
                </tr>
                            <tr style="min-height: 20px;">
                    <td>
                        COMPETENCIA 2
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td class="text-justify">
                        <strong></strong><br>
                    
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                    <td>
                        
                    </td>
                </tr>
                            </tbody>
    </table>
</div>
