//customize bootstrap
@import './bs-custom';



$strong:#646c9a;
$border: #eaeaea;
$shadow: 0px 0px 40px 0px rgba(82,63,105,0.1);

///////////////
// Solid Color
///////////////
$white: #fff;
$black: #000;
$charade: #23252F;

/////////////////////////
// Dark Version Color
/////////////////////////
$d-ctd: #ddd;
$d-ctl: #828690;
$d-border: #383c46;
$d-bg: #1d1e26;
$dark-card: #262932;
$dark_bg_lighter: #1E2A4A;

////////////////////////
// Light Version Color
////////////////////////
$l-ctd: #464a53;
$l-ctl: #828690;
$l-border: #eaeaea;
$l-bg: #F7FAFC;
$heading: #333;

///////////////////
// Material Colors
///////////////////
$dusty-gray: #999999;
$gallery: #EEEEEE;
$gray: #898989;
$input-border-color: $border;


///////////////////
// Social Colors
///////////////////
$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #FF0000;
$google-plus: #db4439;
$linkedin: #007bb6;
$instagram: #c32aa3;
$pinterest: #bd081c;
$google: #4285f4;
$snapchat: #fffc00;
$whatsapp: #25d366;
$tumblr: #35465d;
$reddit: #ff4500;
$spotify: #1ed760;
$yahoo: #430297;
$dribbble: #ea4c89;
$skype: #00aff0;
$quora: #aa2200;
$riverBed: #4C585C;
$vimeo: #1ab7ea;


///////////////////
// Misc Colors
///////////////////
$iron: #DDDFE1;
$grey: #D2D6DE;
$pale-sky: #6a707e;
$athensGray: #F0F0F2;
$sky: #2290FF;


//color for coller pallate
$color_pallate_1: $white;
$color_pallate_2: #0F2C52;
$color_pallate_3: $primary;
$color_pallate_4: #4527a0;
$color_pallate_5: #c62828;
$color_pallate_6: #283593;
$color_pallate_7: #1e78ff;
$color_pallate_8: #3695eb;
$color_pallate_9: #00838f;
$color_pallate_10: #ff8f16;
$color_pallate_11: #6673fd;
$color_pallate_12: #558b2f;
$color_pallate_13: #231F20;
$color_pallate_14: #1367c8;
$color_pallate_15: #ed0b4c;

//utility variables
$radius: 5px;



