
.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0;
    border: 1px solid $border;
    height: calc(1.95rem + 4px);
    background: $white;
    &:hover,&:focus,&.active{
        box-shadow: none;
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}

.select2-container--default .select2-selection--multiple {
    border-color: $border;
    border-radius: 0;
}

.select2-dropdown {
    border-radius: 0;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: $primary;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border-color: $border;
    background: $white;
}
