<template>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">
                    <h4></h4>
                    <a href="/activity/new" class="btn btn-primary">Nuevo</a>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div id="accordion-eleven" class="accordion accordion-header-bg accordion-rounded-stylish  accordion-header-shadow accordion-bordered">
                            <div class="accordion__item">
                                <div class="accordion__header collapsed" style="background-color: #1367C8; color: #fff;" data-toggle="collapse" data-target="#rounded-stylish_collapseOne">
                                    <span class="accordion__header--icon"></span>
                                    <span class="accordion__header--text">Filtrar Actividades</span>
                                    <span class="accordion__header--indicator"></span>
                                </div>
                                <div id="rounded-stylish_collapseOne" class="collapse accordion__body" data-parent="#accordion-eleven"  >
                                    <div class="accordion__body--text">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Del :</label>
                                                    <div class="col-sm-9">
                                                        <input name="datepicker" class="datepicker-default form-control" id="datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Al :</label>
                                                    <div class="col-sm-9">
                                                        <input name="datepicker" class="datepicker-default form-control" id="datepicker">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Tipo :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>PROGRAMADO</option>
                                                            <option>NO PROGRAMADO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Organizador :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>EMP</option>
                                                            <option>DISTRITO FISCAL</option>
                                                            <option>COOPERANTE</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Línea Estratégica :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>CPP</option>
                                                            <option>VCMIGF</option>
                                                            <option>ESPECIALIZADAS</option>
                                                            <option>TRANSVERSALES</option>
                                                            <option>ADMINISTRATIVAS</option>
                                                            <option>FORENSES</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Categoría :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>CEREMONIA</option>
                                                            <option>CHARLA</option>
                                                            <option>CINE-FORUM</option>
                                                            <option>CONFERENCIA</option>
                                                            <option>CONGRESO</option>
                                                            <option>CONVERSATORIO</option>
                                                            <option>CURSILLO</option>
                                                            <option>CURSO</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Especialidad :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>CIBERDELINCUENCIA</option>
                                                            <option>CIVIL</option>
                                                            <option>...</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Modalidad :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>VIRTUAL</option>
                                                            <option>PRESENCIAL</option>
                                                            <option>SEMI-PRESENCIAL</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Sistema :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>FISCAL</option>
                                                            <option>FORENSE</option>
                                                            <option>ADMINISTRATIVO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Estado :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>PROGRAMADO</option>
                                                            <option>CONVOCATORIA</option>
                                                            <option>EN PROCESO</option>
                                                            <option>PARA CERTIFICAR</option>
                                                            <option>CERRADO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="form-group row">
                                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Coordinador :</label>
                                                    <div class="col-sm-9">
                                                        <select class="form-control">
                                                            <option><< SELECCIONE >></option>
                                                            <option>JUAN PEREZ</option>
                                                            <option>ANA SOTELO</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6 col-sm-12">
                                                <div class="pull-right">
                                                    <button type="submit" class="btn btn-google mb-2">Limpiar</button>
                                                    <button type="submit" class="btn btn-dark mb-2">Filtrar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="pull-right">
                    <a href="#" class="btn btn-primary"><i class="fa fa-save"></i> Grabar</a>
                    <a href="#" class="btn btn-light "><i class="la la-ban"></i> Cancelar</a>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
